/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 paź 2020, 21:12:47
    Author     : Konrad
*/

body
{
    background-color: white;
}
.add
{
    height: 100px;
}
#forms
{
    text-align: center;
    font-family: monospace;
}
#addSong
{
    background-color: #0099ff;
    
}
#addAlbum
{
    background-color: #339900;
}
#addPlaylist
{
    background-color: #cccc00;
}
#addSongToPlaylist
{
    background-color: #ccff00;
}
#albums
{
margin-top: 100px;
}
#albums a
{
    text-decoration: none;
    color: darkblue;
}
#albums a:hover
{
    background-color: #0099ff;
    color: lightgray;
}





