/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 paź 2020, 21:12:47
    Author     : Konrad
*/

/* Okienko zmiany hasła*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  .modal textarea
  {
      width: 100%;
      height:100px;
  }
  .modal button
  {
      background-color: #0eb165;
        width: 20%;
        float: right;
  }
  .modal button:hover
  {
      background-color: #00582b;
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
  }
  .modal-content input
  {
      width: 100%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/*Reszta*/
#forms
{
    text-align: center;
    font-family: monospace;
}
label
{
    text-align: center;
}
.userbutton
{
    float: left;
}
#imageinfo
{
    float: right;
}
#addbuttons
{
    width: 100%;
    display: inline;
}
#addbuttons button
{
    background-color: #0eb165;
    border-radius: 5%;
    width: 20%;
    height: 50px;
}
#userinfo
{
    height: 150px;
}
#albums
{
margin-top: 100px;
}
#albums a
{
    text-decoration: none;
}
#albums a:hover
{
    background-color: #0eb165;
    color: lightgray;
}





