#messages-container {
    margin-bottom: 150px;
}

.message {
    justify-content: flex-start;
    align-items: flex-start;
}

.message-avatar img {
    width: 120px;
    height: 120px;
}

.message-content {
    padding-left: 20px;
    word-wrap: break-word;
    height: 100%;
    width: 90%;
}

.message-content:hover {
    background-color: #444;
}
.delete
{
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.delete:hover
{
    top: 0;
    background-color: red;
}