#messages-panel
{
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    color: white;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
.sender
{
    font-weight: bold;
    float: left;
    width: 80%;
}
.icon
{
    float: left;
}
.sent
{
    float: right;
}
.text
{
    float: left;
    width: 80%;
}
.message-box
{
    background-color: #fff;
    margin-bottom: 20px;
}
.message-box p
{
    float: right;
}
.message-box img
{
    float: right;
    width: 100px;
    height: 100px;
}

/*----------------------------------------*/

#messages-container {
    margin-bottom: 50px;
}

.message {
    justify-content: flex-start;
    align-items: flex-start;
}

.message-avatar img {
    width: 120px;
    height: 120px;
}

.message-content {
    padding-left: 20px;
    word-wrap: break-word;
    height: 100%;
    width: 100%;
}

.message-content:hover {
    background-color: #444;
}
