
#main{
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-color:#fff;
    color: black;
}


#image img{
    height: 90px;
    float: right;
    width: 100px;
}


#songTitle{
    float: right;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 10px;
}
#author
{
    float: right;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
}
#info
{
    float: right;
}
#rightButtons
{
        width: 40px;
        float:right;
}
#show
{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#like
{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#options
{
    

    margin-left: 20px;
    position:fixed;
    margin-top: 5px;
}

#repeat,#shuffle
{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: #797979;
    cursor: pointer;
    
}
#repeat:hover,#shuffle:hover
{
    background-color: #939393;
}
#buttons{
    height: 50px;
    width: 50%;
    margin-top: 10px;
    position:fixed;
    left: 25%;
   
}

#play,#next,#pre{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:rgb(14, 177, 101);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline:none;
}
/*Firefox to taki snowflake wśród przeglądarek*/
.slider::-moz-range-thumb {
  width: 10px; 
  height: 10px; 
  background: #797979; 
  cursor: pointer; 
  border-radius: 50%;
}
/*ta brzydka ramka po kliknięciu*/
#play::-moz-focus-inner{
    border: 0;
}
#next::-moz-focus-inner{
    border: 0;
}
#pre::-moz-focus-inner{
    border: 0;
}
#repeat::-moz-focus-inner{
    border: 0;
}
#shuffle::-moz-focus-inner{
    border: 0;
}
#play:hover,#next:hover,#pre:hover,#fill:hover{
    background-color:#009347;
}
#next{
    width: 30px;
    height: 30px;
    left: 70%;
}
#pre{
    width: 30px;
    height: 30px;
    left: 30%;
}
#play img,#next img,#pre img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#time
{
    float: right;
    margin-top: 58px;
    margin-right: 25px;

}
#seek-bar{
    width: 70%;
    height: 5px;
    display: flex;
    margin-left: 25px;
    cursor: pointer;
    bottom: 2%;
    position: fixed;
    left: 15%;
}
#timeRange
{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
  background-color: #fff;
}



/** Dla Firefox*/

#seek-bar input[type="range"]::-moz-range-progress {
    background-color: #00cc00;
    height: 10px;
}

#seek-bar input[type="range"]::-moz-range-track {
  background-color: #aaa;
    height: 10px;
}

/*Chrome*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #9a905d;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;

    background-color: #aaa;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    cursor: pointer;
    background: #434343;
    color: #0eb165;

  }
}
/*Dla IE*/

#seek-bar input[type="range"]::-ms-fill-lower {
  background-color: #00cc00;
}

#seek-bar input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
/*Obsługa suwaka głośności*/
#volume-bar
{
    width: 10%;
    margin-left: 10px;
    display: flex;
    height: 10px;
    bottom: 8px;
    background-color:lightgray;
    position:fixed;
    cursor: pointer;
}
#volume-bar input[type="range"]
{
  width: 100%;
  background-color: #aaa;
  background: linear-gradient(to right, #82CFD0 0%, #aaa 100%, #fff 100%, #fff 100%);
  border: solid 1px #aaa;
  border-radius: 2px;
}
@media screen and (max-width: 850px) {
    #main{
       height: 170px; 
    } 
    #info{
        width: 100%;
        text-align: center;
    }
    #songTitle
    {
        float: none;
        text-align: center;
        margin-top: 5px;
    }
    #author
    {
        float: none;
        margin-top: 5px;
    }
    #rightButtons
    {
        float: right;
        
    }

    
}




