/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 paź 2020, 22:39:00
    Author     : Konrad
*/
/* Okienko wiadomości*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  .modal textarea
  {
      width: 100%;
      height:100px;
  }
  .modal button
  {
      background-color: #0eb165;
        width: 20%;
        float: right;
  }
  .modal button:hover
  {
      background-color: #00582b;
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* Reszta */
.content
{
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#listing
{
   float: left;
   display:inline-block;
   width: 70%;
}
/*Pominięcie odtwarzacza*/
#choose_content
{
    margin-bottom: 100px;
}
table thead
{
    text-align: left;
}
table td, th
{
    padding: 20px; 
}
#profile_all
{
    font-weight: lighter;
}
#userinfo
{
    float: right;
    width: 30%;
    padding-left: 2%;
    border-left: 2px,#686868;
}
#info img
{
    margin-bottom: 5px;
}
.singlealbum
{
    width: 30%;
    
}
.singlealbum a
{
    color: white;
    font-style: normal;
}
#choose button
{
    color: white;
    background: transparent;
    font-weight: bolder;
    border: none;
    margin-bottom: 10px;
    width: 20%;
    font-size: x-large;
}
#choose button:hover
{
    margin-bottom: 0px;
    border-color: black;
    border-bottom-style: solid;
    background-color: #0eb165
}
#userinfo button
{
    background-color: #0eb165;
    border: none;
    border-radius: 5%;
    color: white;
    margin: 5px;
    margin-left: 0;
    width: 50%;
    cursor: pointer;
}*/
#userinfo button:hover
{
    background-color: #00582b;
}
#userinfo button img
{
    margin-right: 5px;
}
@media(max-width: 720px) {
    #listing
    {
        width: 100%;
    }
    #userinfo
    {
        width: 100%;   
    }
    #choose button
    {
        width: 50%;
    }
}