/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 paź 2020, 22:39:00
    Author     : Konrad
*/
.content
{
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#listing
{
   float: left;
   display:inline-block;
   width: 70%;
}
#info
{
    float: right;
    width: 30%;
}
.singlealbum
{
    width: 30%;
    
}
.singlealbum a
{
    color: white;
    font-style: normal;
}
#choose button
{
    color: white;
    background: transparent;
    font-weight: bolder;
    border: none;
    margin-bottom: 10px;
}
#choose button:hover
{
    margin-bottom: 0px;
    border-color: black;
    border-bottom-style: solid;
    background-color: #0eb165
}
