@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/*Wybrany utwór*/
#song_info
{
    display: inline-block;
    width: 100%;
}
#mainPage a:hover
{
    background-color: #008700;
}
#song_likes
{
    float: right;
    text-align: right;
    margin-right: 10px;
}
#song_title
{
    width: 70%;
    font-size: larger;
    font-weight: bolder;
}
#song_image
{
    width: 100px;
    display: block;
    margin-top: 0;
    float: right;
}
#author_info a:hover
{
    border-color: #008700;
}
#album_author a:hover
{
    border-color: #008700;
}
/*Wybrany album*/
#album_info
{
    text-align: center;
}

:root {
    --primary-color: #333;
    --secondary-color: #008700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background-color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}
/*guzik wiadomości*/
ul button
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 50%;
    background-color: none;
    border-color: transparent;
}
ul button:hover
{
    border-color: #008700;
    cursor: pointer;

}
ul p
{
    color: white;
    font-weight: bolder;
    display: inline-block;
    float: right;
    top: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--secondary-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .logo {
    font-size: 26px;
}

.navbar .logo:hover {
    border: 0;
}
.invalid-feedback
{
    display: block;
    width: 100%;
}

#pasek {
    border: 0;
    border-bottom: 1px solid var(--secondary-color);
    background-color: (var(--primary-color));
    color: #fff;
    text-align: right;
}

#pasek:focus {
    outline: none;
}
/* MainPage*/

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--secondary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-card {
    position: relative;
    top: 60px;
    height: 250px;
    width: 250px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    transition: transform 0.2s ease-in;
    animation: slideInFromRight 1s ease-in;
}

.showcase-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-card:hover {
    transform: translateY(-15px);
}
tr:hover
{
    background-color: rgb(34, 34, 34);
}
.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--primary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

#mainPage {
    animation: slideInFromBottom 1s ease-in;
    margin-bottom: 100px;
}

#mainPage table {
    margin: auto;
    width: 100%;
    margin: 1.5rem 0;
}

#mainPage table th {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.album-tile:hover {
    transform: scale(1.05);
}

/* Searching */
#searching {
    margin: auto;
    width: 100%;
}

#searching th {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

/* Login */
.login .login-form-control {
    margin: 30px 0;
}

.login input[type='email'],
.login input[type='password'],
.login input[type='text'] {
    border: 0;
    border-bottom: 1px solid var(--secondary-color);
    width: 50%;
    padding: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: var(--primary-color);
    color: #fff;
}

input[type='submit']
{
    background-color: #008700;
}
#addtoplaylist
{
    border-radius: 50%;
    background-color: transparent;
}
.login input:focus {
    outline: none;
}

/* Playerblade */
#newest_followed_albums
{
    width: 100%;
}
#newest_songs
{
    width: 50%;
    float: left;
}
#newest_albums
{
    width: 50%;
    float: right;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Tablety */
@media(max-width: 768px) {
    .grid,
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-card {
        justify-self: center;
        margin: auto;
    }
}

/* Telefony */
@media(max-width: 850px) {

    .navbar {
        height: 190px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
    }
    .container
    {
        width: 100%;
        padding: 0;
    }
}
