body{
    background-color:#444;
    color: white;

}
.py-4
{
    margin-bottom: 100px;
}
#forms
{
    text-align: center;
    font-family:monospace;
}
#addtrack
{
    display: inline-block;
    background-color: #095500;
    width: 30%;
vertical-align:top;
}
#addalbum
{
    display: inline-block;
    background-color: #999900;
    width: 30%;
vertical-align:top;
}
#addtracktoalbum
{
    display: inline-block;
    background-color: #009999;
    width: 30%;
vertical-align:top;
}
#addSong
{
    background-color: #0099ff;
}
.container
{
    max-width: 100%;
}
